/*
essential styles:
these make the slideshow work
*/
* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
  min-height: 180px;
}

.header-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.header-menu__container {
  display: grid;
  align-items: center;
  padding: 0 40px;
}

.header-logo {
  font-size: 40px;
  font-weight: bold;
  color: chocolate;
  margin-top: 15px;
  font-style: italic;
}



.header-navbar__list {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.header-navbar__item {

  list-style-type: none;
}

.header-navbar__link {
  position: relative;
  padding: 20px 10px;
  text-decoration: none;
  display: block;
  color: chocolate;
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}



.slides {
  position: relative;
  height: 600px;
  width: 70%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;

}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 600px;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.25s;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  opacity: 1;
  z-index: 1;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

/* .slide {
  /* font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff; */



.indicators,
.controls {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
  margin-bottom: 1em;
}

.indicator,
.control {
  display: block;
  padding: 1em 2em;
  background-color: #de9999;
  cursor: pointer;
  user-select: none;
  min-width: 80px;
  text-align: center;
}

.control:hover {
  background-color: #cccccc;
}

.indicator.active {
  background-color: tomato;
}


.footer {
  min-height: 100px;
  padding: 20px 0;
}

.footer-link {
  text-decoration: none;
}