@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  min-height: 100px;
  padding: 20px 0;
}

.footer-message {
  color: $color-footer;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.footer-link {
  text-decoration: none;
}